{% extends 'main.html' %}

{% block pageTitle%} Level Page{%endblock%}

{%block headerTitle%} 
  <div class="container text-center">
    <h1 class="my-4 fw-bold text-white">JEU DE PENDU</h1>
  </div>
{% endblock %}

{%block headerContent%} 
<div class="container my-3 p-2 bounce-in-top sticky-top">
  <nav class="navbar navbar-expand-lg bg-success rounded shadow-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item mx-2">
            <a class="nav-link active text-white" aria-current="page" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link text-white active" href="#">Level</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link text-white" href="#">Theam</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link text-white" href="#">Game Play</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
{% endblock %}

{%block bodyContent%}
<div class="container text-center">
  <h1 class="my-5 text-white">Choose Your Level</h1>
  <div class="d-flex mt-5 align-items-center justify-content-center">
    {% if list_level %}
    <div class="level_items mx-3">
      <a href="{{list_level.0}}/"  class="text-decoration-none">
        <button class="btn1 btn btn-lg text-white p-3 fs-3 fw-bold bg-primary border-0">
          <!-- Debutant -->
          {{list_level.0}}
        </button>
      </a>
    </div>

    <div class="level_items mx-3">
      <a href="{{ list_level.1 }}/" class="text-decoration-none">
        <button class="btn2 btn btn-lg p-3 text-white fs-3 fw-bold bg-success border-0">
          <!-- Intermediarie -->
          {{list_level.1 }}
        </button>
      </a>
    </div>
    
    <div class="level_items mx-3">
      <a href="{{ list_level.2 }}/"  class=" text-decoration-none">
        <button class="btn3 btn btn-lg p-3 fs-3 fw-bold  bg-warning  border-0 text-white">
          <!-- Advance -->
          {{list_level.2 }}
        </button>  
      </a>
    </div>
    {% endif %}
  </div>
  <div class="home">
    <a href="{% url 'index' %}">
      <button class="btn btn-lg  bg-outline-secondary bg-dark my-5 text-white">
        Go Home
      </button>
    </a>
  </div>
</div>

{% endblock %}